on: [push]

jobs:
  test: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: test step
        id: hello
        uses: ./
        with:
          DOPPLER_TOKEN: ${{secrets.DOPPLER_TOKEN}}
      - name: test variables
        run: |
          echo ${{ steps.hello.outputs.env }}