on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: test
    steps:
      - uses: actions/checkout@v2
      - name: build
        run: npm install curl
      - name: test step
        id: hello
        uses: ./
        with:
          DOPPLER_TOKEN: ${{secrets.DOPPLER_TOKEN}}
          
